/* FONTS
  ======================== */
  @font-face {
    font-family: "Source Sans Pro";
    src: url("assets/fonts/SourceSansPro-Regular.otf");
  }
  @font-face {
    font-family: "Source Sans Pro Bold";
    src: url("assets/fonts/SourceSansPro-Bold.otf");
  }
  @font-face {
    font-family: "Source Sans Pro Semi Bold";
    src: url("assets/fonts/SourceSansPro-Semibold.otf");
  }

/* VARIABLES
  ======================== */
  :root {
    --main-font: "Source Sans Pro", sans-serif;
    --main-font-bold: "Source Sans Pro Bold", sans-serif;
    --main-font-semi-bold: "Source Sans Pro Semi Bold", sans-serif;
    --primary-color: #ff6565;
    --secondary-color: #071629;
    --white-color: #ffffff;
    --black-color: #000000;
    --hover-color: #e64a4a;
  }

/* RESET
  ======================== */
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
    margin: 0;
    max-width: 100%;
  }

  body {
    font-family: var(--main-font);
    margin: 0;
  }

  li {
    list-style: none;
  }

  a {
    color: var(--white-color);
    text-decoration: none;
  }

/* HEADER
  ======================== */
  .header-background {
    background-image: url("./assets/images/headphones_hero_1.jpg");
    background-size: cover;
    background-position: center;
    height: 67.5rem;
  }

  /* Top section */
  .top-section {
    display: flex;
    justify-content: space-between;
    padding: 1vw 10vw;
    align-items: center;
  }

  .header-logo img {
    width: 10rem;
    height: auto;
  }

  .navigation-menu {
    text-align: center;
    display: flex;
    margin: 0;
    padding: 0;
  }

  .navigation-list li {
    padding-left: 2rem;
    font-size: 0.75rem;
    display: inline-block;
  }

  .navigation-list a:hover {
    color: var(--primary-color);
  }

  /* Hamburguer menu */
  .menu-checkbox,
  .menu-icon {
    display: none;
  }

  .menu-icon .menu-icon-bar {
    background: var(--white-color);
    display: block;
    width: 1.3rem;
    height: 0.2rem;
    position: relative;
    transition: background 0.2s ease-out;
  }

  .menu-icon .menu-icon-bar::before,
  .menu-icon .menu-icon-bar::after {
    content: "";
    display: block;
    width: 2rem;
    height: 100%;
    position: absolute;
    background: var(--white-color);
    transition: all 0.2 ease-out;
  }

  .menu-icon .menu-icon-bar::before {
    top: 0.6rem;
  }

  .menu-icon .menu-icon-bar::after {
    top: -0.6rem;
  }

  /* Bottom section */
  .bottom-section {
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15vw 15vw;
    text-align: center;
  }

  .bottom-section h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
  }
  .bottom-section h2 {
    font-size: 1rem;
    font-weight: 700;
    line-height: normal;
  }
  .bottom-section p {
    width: 70%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.925rem;
  }

  .btn-header {
    background-color: var(--primary-color);
    text-transform: uppercase;
    cursor: pointer;
    width: 10.125rem;
    height: 2.75rem;
    flex-shrink: 0;
    border-radius: 3.4rem;
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--white-color);
    border: none;
    margin-top: 3rem;
    margin-bottom: 4rem;
  }

  .btn-header:hover {
    background-color: var(--hover-color);
    opacity: 0.9;
  }

/* MEDIA QUERIES HEADER
  ======================== */
  @media (max-width: 480px) {
    .header-background {
      background-position: 35% 0;
    }

    .header-logo img {
      width: 12.5rem;
      height: auto;
      margin-top: 10px;
    }

    .top-section {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .top-section .header-logo {
      margin: 0;
    }

    .navigation-menu {
      display: none;
    }

    .menu-icon {
      display: block;
      position: absolute;
      left: 5vw;
      top: 5vw;
      margin-top: 10px;
    }

    .menu-checkbox:checked ~ .navigation-menu {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    .menu-checkbox:checked ~ .navigation-menu .navigation-list li {
      display: block;
      margin-bottom: 20px;
      margin-right: 60px;
    }

    .menu-checkbox:checked ~ .menu-icon .menu-icon-bar {
      background: transparent;
    }

    .menu-checkbox:checked ~ .menu-icon .menu-icon-bar::before {
      transform: rotate(45deg);
      top: 0;
    }

    .menu-checkbox:checked ~ .menu-icon .menu-icon-bar::after {
      transform: rotate(-45deg);
      top: 0;
    }

    .bottom-section {
      margin: 75vw 5vw 10vw;
    }

    .bottom-section h1 {
      font-size: 2rem;
      width: 22.3rem;
    }

    .bottom-section h2 {
      font-size: 1.1rem;
      width: 17.4rem;
    }

    .bottom-section p {
      width: 20.9rem;
      font-size: 1rem;
      line-height: 1.625rem;
    }

    .btn-header {
      width: 10.125rem;
      height: 2.75rem;
      border-radius: 1.375rem;
      flex-shrink: 0;
      font-size: 0.875rem;
      margin-top: 10px;
    }
  }

  @media (min-width: 481px) and (max-width: 768px) {
    .header-background {
      background-position: 37% 0;
      width: 768px;
    }

    .header-logo img {
      width: 12rem;
      height: auto;
    }

    .navigation-list li {
      font-size: 0.75rem;
    }

    .bottom-section {
      margin: 40vw 5vw 10vw;
    }

    .bottom-section h1 {
      font-size: 2rem;
    }

    .bottom-section h2 {
      font-size: 1rem;
    }

    .bottom-section p {
      width: 80%;
      font-size: 1rem;
      line-height: 1.625rem;
    }

    .btn-header {
      width: 10.125rem;
      height: 2.75rem;
      border-radius: 1.375rem;
      flex-shrink: 0;
      font-size: 0.875rem;
      margin-top: 2.5rem;
      margin-bottom: 4rem;
    }
  }

/* SECTION WHAT WE DO
  ======================== */
  /* Top section */
  .services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2.6rem;
    margin-bottom: 2.6rem;
    height: 37.5rem;
  }

  .services-description {
    display: flex;
    width: 39.813rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
  }

  .services-description h1 {
    font-size: 2rem;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 1.9rem;
    font-family: var(--main-font-semi-bold);
  }

  .services-description p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
  }

  /* Bottom section */
  .services-icons {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 11.25rem;    
    justify-content: center;
    align-items: center;
    gap: 4vw;
    margin-top: 9.2rem;
  }

  .services-icons img {
    width: 4.25rem;
    height: 4rem;
  }

  .services-icons h3 {
    font-size: 1.125rem;
    margin-top: 1.4rem;
    margin-bottom: 0.8rem;
    color: var(--secondary-color);
    line-height: 1.6rem;
    font-family: var(--main-font-semi-bold);
    font-weight: 600;
  }

  .services-icons p {
    width: 12rem;
    height: 3.2rem;
    font-size: 0.87rem;
    line-height: 1.6rem;
    margin-bottom: 6.8rem;
  }

/* MEDIA QUERIES SERVICES
  ======================== */
  @media (max-width: 480px) {
    .services-description {
      width: 20.3rem;
      height: 13rem;
    }
  
    .services-description h1 {
      font-size: 2rem;
      margin-bottom: 1em;
      margin-top: 3em;
      width: 11.8rem;
      height: 2.5rem;
    }
  
    .services-description p {
      width: 20.3rem;
      height: 13rem;
      font-size: 1rem;
      line-height: 1.625rem;
    }
  
    .services-icons {
      display: grid;
      grid-template-columns: 1fr;
      gap: 0.6em;
    }
  }

  @media (min-width: 481px) and (max-width: 768px) {
    .services {
      width: 768px;
    }
  
    .services-description {
      width: 39.8rem;
      height: 11.5rem;
    }
  
    .services-description p {
      width: 39.8rem;
      height: 6.5rem;
      font-size: 1rem;
      line-height: 1.625rem;
    }

    .services-icons {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 3.6rem;
    }
  }
